<a href="https://colab.research.google.com/github/Nahgalvao/Basic_Python/blob/main/Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operations

## Simple accounts

In [ ]:
4 + 7

11

In [ ]:
name = "Natalia"
age = 25
print(f'My name is {name} and my age is {age} years')

My name is Natalia and my age is 25 years

## Subtraction

In [ ]:
7 - 4

3

## Division 
## float = float (puts decimal places in values resulting from divisions for example)

In [ ]:
8 / 2

4.0

## Multiplication

In [ ]:
11*7

77

## Exponentiation

In [ ]:
8**2

64

## Division showing only the integer part

In [ ]:
11 // 2

5

## Division showing remainder

In [ ]:
11 % 2

1

## Type

In [ ]:
a = 7 - 4
print(type(a))

<class 'int'>

In [ ]:
b = 7 - 4.0
print(type(b))

<class 'float'>

In [ ]:
c = "quatro"
print(type(c))

<class 'str'>

In [ ]:
d = 4 + 2j
print(type(d))

<class 'complex'>

In [ ]:
e = True
print(type(e))

<class 'bool'>

In [ ]:
f = False
print(type(f))

<class 'bool'>

In [ ]:
a = 2
b = 3
print(a+b)

5

In [ ]:
a = 2
b = 3
c = a + b
print (c)

5

In [ ]:
print (2+3)

5

# Exercices

In [ ]:
# salary = 3000.00 raise = 5%
a = 3000.00
b = 5
nsal = a +(a*(b/100))
print(nsal)

3150.0

In [ ]:
a = 1
b = 5
c = 2
d = 1

a == b # is a equal to b?

False

In [ ]:
a<b # is a greater than b?

True

In [ ]:
b>a # is b less than a?

True

In [ ]:
a == d # is a equal to b?

True

In [ ]:
c <= b #c is greater than or equal to b?

True

In [ ]:
d != a # (!=) means different / d is different from a?

False

In [ ]:
d != b # d is different from b?

True