<a href="https://colab.research.google.com/github/Nahgalvao/Basic_Python/blob/main/Sum_Multiplication.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sum

In [ ]:
x = "horse" + 'shoe' # concatenate
print(x)

horseshoe

In [ ]:
y = ["pig", 'cow'] + ['horse']
print(y)

#Multiplication

In [ ]:
#String and List
x = "bug"*3
print(x)

bugbugbug

In [ ]:
y = [8,5]*3
print(y)

[8, 5, 8, 5, 8, 5]

In [ ]:
z = "_____"*50
print(z)

__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

In [ ]:
x = 'bug'
print('f' in x)

False

In [ ]:
y = ["pig", 'cow','horse']
print('cow' not in y)

False

In [ ]:
x = 'bug'
print(len(x))

y = ["pig", 'cow','horse'] # Count the number of elements
print(len(y))

3
3

In [ ]:
x = 'bug'
print(min(x))

y = ["pig", 'cow','horse'] # Count the MINIMUM number of elements
print(min(y))

b
cow

In [ ]:
y = ["pig", 'cow','horse'] # Sort alphabetically
print(sorted(y))

['cow', 'horse', 'pig']

In [ ]:
y = ["pig", 'cow','horse']    
print(max(y))

pig

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [ ]:
x = "hippo"
print(x.count('p')) # how many 'p' are in the list

2

In [ ]:
x = ['pig', 'cow', 'horse']
a, b, c = x
print(a, b, c) # Print in chosen order

pig cow horse

In [ ]:
x = ['pig', 'cow', 'horse']
a, b, c = x
print(c, a, b) # Print in chosen order

horse pig cow

In [ ]:
x = {3, 5, 3, 5}
print(x) # Do not accept duplicate values

{3, 5}

In [ ]:
list = [2, 3, 4, 5]
z = set(list)
print(z) # Pass to '{}'

{2, 3, 4, 5}

In [ ]:
tuple = (1, 2, 3)
z = set(tuple)
print(z)

{1, 2, 3}

In [ ]:
tuple = (1, 2, 3)
z = set(tuple)
print(tuple)
print(z)

(1, 2, 3)
{1, 2, 3}

In [ ]:
z.add(3)
print(z) # Don't accept duplicate values

{1, 2, 3}

In [ ]:
z.add(4)
print(z)

{1, 2, 3, 4}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 & s2) # Intercept between s1 and s2

{3}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 ^ s2)             # Pega os elementos que não estão repetidos

{1, 2, 4, 5}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1 - s2) # Use the last element of 'print' as a base and remove all elements

{1, 2}

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s2 - s1)

{4, 5}